body {
    background-color: 9bc4e2;
    margin: auto;
    font-size: 18px;
    max-width: 50%;
    color: rgb(12, 12, 12);
}

h1 {
    background-color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36;
}
h2 {
    background-color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28;
}
}
